.main-layout {
	--gutter: 2em;

	display: grid;
	grid-template-columns: minmax(var(--gutter), 1fr) min(1100px, 90vw) minmax(var(--gutter), 1fr);

	> * {
		grid-column: 2;
	}

	> .full {
		grid-column: 1 / -1;
	}
}