.app-header {
    padding: 1em;
    /* background-color: lightgray; */
}

.header-content {
    /* display: flex;
    align-items: center;
    justify-content: space-between; */

    /* nav {
        display: flex;
        align-items: center;
        gap: 1em;
    } */

}