.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding: 1em;
    background-color: lightgray;

    nav {
        display: flex;
        align-items: center;
        gap: 1em;
    }

}